<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Elice SW2 Team12</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/black-cat.png" />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="complete.css" />
    <script src="complete.js" type="module" defer></script>
    <script src="../common/landing.js" type="module" defer></script>
  </head>

  <body>
    <!-- 헤더 -->
    <header id="header"></header>

    <main id="main" role="main">
      <!-- 주문완료창 -->
      <section class="section">
        <div class="container">
          <div class="order-complete-container">
            <div class="box order-complete">
              <div class="icon-text">
                <span>
                  <img src="./credit-card.png" alt="주문완료" />
                  <span id="text">주문이 완료되었습니다!</span>
                </span>
              </div>
              <div class="buttons-container">
                <button class="buttons" id="orderDetailButton">
                  주문내역 보기
                </button>
                <button class="buttons" id="shoppingButton">
                  쇼핑 계속하기
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer"></footer>
  </body>
</html>
