<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Elice SW2 Team12</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/black-cat.png" />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="account.css" />
    <script src="account.js" type="module" defer></script>
    <script src="../common/landing.js" type="module" defer></script>
  </head>

  <body>
    <header id="header"></header>
    <!---계정관리 목록 -->
    <main id="main" role="main">
      <section>
        <div class="container">
          <div>
            <h1 class="title">관리자 페이지</h1>
          </div>
          <div class="menu-container">
            <!--주문 조회-->
            <a class="menu-card admin" href="/admin-order">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-credit-card"></i>
                </span>
              </div>
              <div class="menu-contents">
                <div class="menu-head">주문조회</div>
                <div class="menu-body">
                  지난 주문 내역을 확인, 취소할 수 있습니다.
                </div>
              </div>
            </a>

            <!--제품 판매-->

            <a class="menu-card admin" href="/sellproduct">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-won-sign"></i>
                </span>
              </div>
              <div class="menu-contents">
                <div class="menu-head">제품판매</div>
                <div class="menu-body">
                  제품 정보를 등록하여, 판매를 시작할 수 있습니다.
                </div>
              </div>
            </a>

            <!--전체 사용자 조회-->
            <a class="menu-card admin" href="/admin-userlist">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-cart-shopping"></i>
                </span>
              </div>
              <div class="menu-contents">
                <div class="menu-head">전체 사용자 조회</div>
                <div class="menu-body">
                  등록된 사용자 정보를 확인, 권한부여, 비밀번호 변경을 할 수
                  있습니다.
                </div>
              </div>
            </a>

            <!--전체 상품등록/수정/삭제 조회-->
            <a class="menu-card admin" href="/admin-product">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-cart-shopping"></i>
                </span>
              </div>
              <div class="menu-contents">
                <div class="menu-head">제품관리</div>
                <div class="menu-body">
                  모든 제품를 안전하게 삭제, 수정, 추가할 수 있습니다.
                </div>
              </div>
            </a>
            <!-- 시스템 코드-->
            <a class="menu-card admin" href="/systemcode">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-cart-shopping"></i>
                </span>
              </div>
              <div class="menu-contents">
                <div class="menu-head">시스템 코드</div>
                <div class="menu-body">
                  모든 정보를 상태를 제어할 수 있습니다.
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer id="footer"></footer>
  </body>
</html>
