.account-header {
    display: block;
    padding-bottom: 10px;
}
.orders-container {
    /* margin: 5rem auto 2rem; */
}

.orders-top {
    border-top: 1px solid #15133C;
    border-bottom: 1px solid #15133C;
    border-radius: 0;
    text-align: center;
    font-size: 20px;
    color: black;
}

/* .background{
    font-size: 30px;
    color: #15133C;
    z-index: -1;
    display: grid;
    place-items: center;
    min-height: 80vh;
    margin-left: 50%;
    position: absolute;
} */
.orders-item {
    display: flex;
    align-items: center;
    text-align: center;
    height : 200px;
    width: 100%;
    background-color: #F1EEE9;
}
.order-cancle {
   border-radius: 0;
   padding: 10px 5px 5px 10px;
}


.order-summary {
    white-space: pre-line
}

.modal .box {
    text-align: center
}

.modal .buttons {
    justify-content: center
}
