.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section .container{
    max-width: 960px;
    margin:auto;
    justify-content: space-between;
}
.section .container .product-list{
    display: flex;
    flex-wrap: wrap;
}
.section .container .product-list .product{
    width: 300px;
    height:450px;
    padding: 5px;
    margin: 0 10px 30px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.product .img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.product .img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.product img{
    height: 300px;
    width: 450px;
}
.name{
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
}
.price{
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}
.price span{
     font-weight: bold; 
    color:crimson;
    text-align: center;
    margin-top: 8px;
}