<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Elice SW2 Team12</title>
        <!-- 아이콘 -->
        <link rel="icon" type="image/png" sizes="16x16" href="/black-cat.png" />
        <!-- bulma css -->
        <link
        rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- 폰트 어썸: 아이콘 -->
        <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="admin-product.css"/>
        <script src="admin-product.js" type="module" defer></script>
        <script src="../common/landing.js" type="module" defer></script>
        <script>
        function redirectUrl(page, params) {
            page ?? '';
            const protocol = location.protocol;
            const host = location.hostname;
            const port = location.port

            location.href = `${protocol}//${host}:${port}/${page}${params?'?'+params:''}`
        }
        </script>
    </head>
    <body>
        <!-- header -->
        <header id="header"></header>

        <!-- contents -->
        <main id="main" role="main">
            <section>
                <div class="container">
                    <div class="table">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Manage
                                            <b>Products</b>
                                        </h2>
                                    </div>
                                    <div class="col-sm-6 d-flex is-justify-content-end">
                                        <a class="btn btn-success" onclick="redirectUrl('sellproduct');">
                                            <i class="material-icons">&#xE147;</i>
                                            <span>Add New Product</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>이미지</th>
                                        <th>상품명(name)</th>
                                        <th>가격</th>
                                        <th>카테고리</th>
                                        <th>짧은 설명</th>
                                        <th>긴 설명</th>
                                        <th>제조사</th>
                                        <th>재고량</th>
                                        <th>키워드</th>
                                    </tr>
                                </thead>
                                <tbody id="category-table"></tbody>
                            </table>
                            <div class="clearfix" id="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit Modal HTML -->
                <div id="addCategoryModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h4 class="modal-title">Add Category</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                    <input type="submit" class="btn btn-success" value="Add">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                 <!-- Edit Modal HTML -->
                 <div id="editProductModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h4 class="modal-title">modify Product</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to modify these Records?</p>
                                    <p class="text-warning">
                                        <small>This action cannot be undone.</small>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default md-no" data-dismiss="modal" value="Cancel">
                                    <input type="submit" class="btn btn-success md-ok" id="mdEditBtn"value="Continue">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Delete Modal HTML -->
                <div id="deleteCategoryModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Category</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete these Records?</p>
                                    <p class="text-warning">
                                        <small>This action cannot be undone.</small>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                    <input type="submit" class="btn btn-danger" id="mdDelBtn"value="Delete">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


        </main>

        <!-- footer -->
        <footer id="footer"></footer>
    </body>
</html></body></html>

