<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <script src="../common/landing.js" type="module" defer></script>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <!-- header -->
    <header id="header"></header>

    <!-- contents -->
    <main id="main" role="main">
      <div class="slideshow-container container">

        <div class="mySlides fade">
          <img src="./banner.png" style="width:100%">
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </main>

    <!-- footer -->
    <footer id="footer" class="section"></footer>
  </body>
  <script src="home.js" defef></script>
</html>
