<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../common/logo-icon.svg"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="scroll.css" />
    <script src="../common/landing.js" type="module" defer></script>
  </head>
  <body>
    <header id="header"></header>
    <main id="main" role="main">
      <div class="main-visual-wrap">
        <div class="main-visual">
          <div class="main-slide-wrap">
            <div class="main-slide">
              <ul id="cbp-bislideshow" class="cbp-bislideshow">
                <li>
                  <a href="#"
                    ><img
                      src="https://cdn.pixabay.com/photo/2014/03/12/01/36/eyes-285825__340.png"
                      alt="mainslide image1"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="https://cdn.pixabay.com/photo/2013/07/18/10/58/paw-163683__340.jpg"
                      alt="mainslide image2"
                  /></a>
                </li>
              </ul>
              <div id="cbp-bicontrols" class="cbp-bicontrols">
                <span class="cbp-biprev"> </span>
                <span class="cbp-binext"> </span>
              </div>
            </div>
          </div>
          <!--main-slide-wrap-->
          <div class="main-visual-sub">
            <div class="main-visual-sublist">
              <a href="#">
                <span class="main-visual-sublist-title">모든 상품</span>
                <img
                  src="https://cdn.pixabay.com/photo/2020/10/31/13/01/kitten-5701150__340.jpg"
                  alt="main visual image1"
                />
              </a>
            </div>
            <div class="main-visual-sublist">
              <a href="#">
                <span class="main-visual-sublist-title">프로젝트 소개</span>
                <img
                  src=" https://cdn.pixabay.com/photo/2016/09/13/23/03/playing-1668528__340.jpg"
                  alt="main visual image2"
                />
              </a>
            </div>
            <div class="main-visual-sublist">
              <a href="#">
                <span class="main-visual-sublist-title">이벤트</span>
                <img
                  src="https://cdn.pixabay.com/photo/2022/01/25/18/19/animal-6966933__340.jpg"
                  alt="main visual image3"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer id="footer"></footer>
    <!-- Js -->
    <script src="./jquery-3.5.1.min.js"></script>
    <script src="./main.js"></script>
    <script src="./common.js"></script>

    <script src="./lib/modernizr.custom.js"></script>
    <script src="./lib/jquery.imagesloaded.min.js"></script>
    <script src="./lib/cbpBGSlideshow.min.js"></script>

    <!-- 배너 -->
    <script>
      $(function () {
        cbpBGSlideshow.init();
      });
      $(document).on('ready', function () {
        // banner slick list
        $('.banner-slick-list').slick({
          dots: true,
          autoplay: true,
          autoplaySpeed: 3000,
        });
      });
    </script>
  </body>
</html>
