<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="./cart.css" />
    <script src="../common/landing.js" type="module" defer></script>
    <script src="cart.js" type="module" defer></script>
  </head>
  <body>
    <header id="header"></header>
    <main id="main" role="main" class="container">
      <section class="section" id="card">
        <nav class="breadcrumb">
          <ul>
            <li>
              <a>장바구니</a>
            </li>
            <li class="is-active">
              <a>주문결제</a>
            </li>
            <li class="is-active">
              <a>주문완료</a>
            </li>
          </ul>
        </nav>
        <hr />

        <input type="checkbox" name="product" id="select-all" checked />
        <br />
        <div class="columns">
          <div class="column">
            <ul id="cart-list"></ul>
          </div>
          <div class="column is-5">
            <div class="box order-box has-background-info-light">
              <div class="header">
                <p>결제정보</p>
              </div>
              <div class="order-info">
                <div class="info">
                  <p>주문상품</p>
                  <p class="products-title" id="productsTitle">
                    몽페레 몽마르뜨 원피스 로얄핑크 / 1개<br />
                    펫츠앤미 아기곰모자 브라운 / 1개
                  </p>
                </div>
                <div class="info">
                  <p>상품총액</p>
                  <p id="productsTotal"></p>
                </div>
                <div class="info">
                  <p>배송비</p>
                  <p id="deliveryFee">3,000원</p>
                </div>
              </div>
              <div class="total">
                <p class="total-label">총 결제금액</p>
                <p class="total-price" id="orderTotal">69,000원</p>
              </div>
              <div class="purchase">
                <button class="button is-info" id="checkoutButton">
                  <a href="/shippingpoint">구매하기</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer"></footer>
  </body>
</html>
